* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
}


.padre {
    display: flex;
    flex-direction: column;
    /* flex-flow: column nowrap; */
}
.header {
    background: url('https://i.picsum.photos/id/143/3600/2385.jpg?hmac=gSMmnYrmuP5BJ47kmErfYdYu1L1GLePM1SNm-D2lqiA');
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    display: flex; /* header padre siempre tiene que tener DISPLAY FLEX. y por defecto es row direction y por esto se pone uno al lado del otro */
    flex-flow: column nowrap;
}
.menu {
    background: rgba(0, 0, 0, .8);
    display: flex;
    flex-flow: row nowrap;
    height: 120px;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid rgba (255, 255, 255, .5);
    border: 1px solid #fff;
}
.logo-img {
    width: 100px;
    height: auto;
    border-radius: 10px;
    margin-left: 10px;
}
.logo-img:hover {
    background: #ffc107;
}

.logo {
    flex:1 1 auto;
}
    .logo a {
        color:#f7e709;
        font-family: 'Courgette', cursive;
        font-size: 35px;
        margin-left: 20px;
    }
    .logo a:hover{
        color:#f7e709;
    }

.nav {
    flex:5 1 auto;
    align-self: flex-end;
}
    .nav a {
        color: #fff;
        font-size: 13px;
        text-transform: uppercase;/* MAYUSCULAS */
        padding: 0 10px;
        letter-spacing: 2px;
        margin-bottom: 5px;
    }
    .nav a:hover{
        color:#ffc107;
        font-weight: bold;
        font-size: 15px;
    }
    .nav a .fa-house {
        font-size: 20px;
        color:#ffc107;
    }
    

.texto-principal {
    /* background: #f07b3f; */
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: auto;
    margin-top: 200px;
}
.texto-principal h1 {
    /* background-color: rgba(0, 0, 0, .5); */
    font-family: 'Courgette', cursive;
    font-size: 30px;
    color:#ffc107;
    font-weight: 200px;
    text-align: center;
    line-height: 1.9;
    margin-left: 100px;
    margin-right: 100px;
    transition: all 3s;
}

h1:hover {
    background-color:#ffc107;
    font-family: 'Courgette', cursive;
    font-size: 30px;
    color:black;
    font-weight: 200px;
    text-align: center;
    line-height: 1.9;
    margin-left: 100px;
    margin-right: 100px;

}

/* Main CSS PAGINA INICIO */
.pinicio { 
    display: flex;
    flex-direction: column;
    /* background: #444; */
    /* font-family: 'Courgette', cursive; */
    color: #ffc107;
    margin: 0;
    padding: 5px;
}
.pinicio h2 {
    color: #ffc107;
    font-style: oblique;
    font-size: 70px;
    text-align: center;
    margin: 20px;
    font-weight: bolder;
    text-shadow:  rgb(153, 153, 153) 0.1em 0.1em 0.1em;
}
.pinicio p {
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    word-spacing: 5px;
    color: white;
    margin-left: 25px;
    margin-right: 25px;
}

.slide {
    margin-top: 5px;
    margin-bottom: 5px;
}
.slide img {
    /* width: 700px; */
    height: 65vh;
    z-index: -1;
    object-fit: cover;
}
.card-img-top {
    height: auto;
    object-fit: cover;
}

.seccionpadre { 
    /* background-color: gray; */
    padding: 10PX;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;

}
.seccionpadre02 {
    display: flex;
    justify-content: center; /* alinea horizoltalmente */
    align-items: center; /* alinea verticalmente */
    flex-wrap: wrap;
    gap: 20px;
    border: 5px double #ffc107;
    padding: 10px;
}
.seccionpadre02--entrev img {
    width: 400px;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}
.seccionpadre02--txtenlace h4 {
    font-style: oblique;
    color: #6c757d;
    font-weight: bolder;
    font-size: 25px;
}
.seccionpadre02--txtenlace a {
    text-decoration: none;
    color: #6c757d;
    font-weight: bolder;
    font-size: 20px;
}



/* Footer CSS */
.footerpadre {
    background-color: #6c757d;
    padding: 10PX;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}
.footerderechos {
    color: white;
    font-weight: bold;
    margin-bottom: 3px;
    font-size: 20px;
}
.footerpadre02 {
    /* background-color: aqua; */
    width: 95vw;
    height: 8vh;
    display: flex;
    justify-content: center; /* alinea horizoltalmente */
    align-items: center; /* alinea verticalmente */
    flex-wrap: wrap;
}
.footerpadre02--redes {
    /* background-color: red; */
    width: 420px;
    height: 80%;
    color: #ffc107;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    /* flex-direction: column;
    margin: 10px; */
    
}
.footerpadre02--redes a {
    font-size: 40px;
    letter-spacing: 5px;
}
.footerpadre02--contacto {
    /* background-color: blue; */
    width: 420px;
    height: 80%;
    color: #ffc107;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    /* flex-direction: column; */
}
.footerpadre02--contacto a {
    font-size: 40px;
    letter-spacing: 5px;
}
/* iconos redes */
footer .fa-facebook-square {
    color: #ffc107;
}
footer .fa-brands:hover{
    color: green;
}
footer .fa-instagram-square {
    color: #ffc107;
}
footer .fa-solid:hover{
    color: green;
}
footer .fa-square-envelope {
    color: #ffc107;
}
footer .fa-square-envelope:hover{
    color: green;
}
footer .fa-whatsapp-square {
    color: #ffc107;
}
footer .fa-whatsapp-square:hover{
    color: green;
}



/* PAGINA NOSOTROS CSS */
.padre-nos {
    display: flex;
    flex-flow: column nowrap;
}
.header-nos {
    background: url('https://i.picsum.photos/id/1005/5760/3840.jpg?hmac=2acSJCOwz9q_dKtDZdSB-OIK1HUcwBeXco_RMMTUgfY');
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    display: flex; /* header padre siempre tiene que tener DISPLAY FLEX. y por defecto es row direction y por esto se pone uno al lado del otro */
    flex-flow: column nowrap;
}
.menu-nos {
    background: rgba(0, 0, 0, .8);
    display: flex;
    flex-flow: row nowrap;
    height: 120px;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid rgba (255, 255, 255, .5);
    border: 1px solid #fff;
    position: fixed;
}
.logo-nos {
    flex:1 1 auto;
}
    .logo-nos a {
        color:#f7e709;
        font-family: 'Courgette', cursive;
        font-size: 35px;
        margin-left: 20px;
    }
    .logo-nos a:hover{
        color:#f7e709;
    }

.nav-nos {
    flex:5 1 auto;
    align-self: flex-end;
}
    .nav-nos a {
        color: #fff;
        font-size: 13px;
        text-transform: uppercase;/* MAYUSCULAS */
        padding: 0 7px;
        letter-spacing: 2px;
        margin-bottom: 5px;
    }
    .nav-nos a:hover{
        color:#f7e709;
        font-weight: bold;
    }
    .nav-nos a .fa-people-group {
        font-size: 20px;
        color:#f7e709;
    }

.pnosotros { 
    display: flex;
    flex-direction: column;
    /* background: #444; */
    /* font-family: 'Courgette', cursive; */
    color: #ffc107;
    margin: 0;
    padding: 5px;
}
.pnosotros h2 {
    color: #ffc107;
    font-style: oblique;
    font-size: 70px;
    text-align: center;
    margin: 20px;
    font-weight: bolder;
    text-shadow:  rgb(153, 153, 153) 0.1em 0.1em 0.2em;
}
.pnosotros h3 { 
    font-style: oblique;
    font-size: 30px;
    text-align: center;
    margin: 10px;
    padding: 10px;
}
.pnosotros p {
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    word-spacing: 5px;
    color: black;
    margin-left: 25px;
    margin-right: 25px;
}

.tit-equipo { 
    margin: 20px;
    font-style: oblique;
    color: yellow;
    font-size: 30px;
    text-align: center;
    letter-spacing: 5px;
}
img {
    width: 30%;
}
.flex-row { 
    /* background: white; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.flex-row h3 { 
    background-color: yellow;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 30px;

}



/* PAGINA CURSOS Y TALLERES CSS */
.padre-ct {
    display: flex;
    flex-flow: column nowrap;
}
.header-ct {
    background: url('https://i.picsum.photos/id/885/4000/2667.jpg?hmac=IrjRbqugGjfrXfEv6t65cpdv8j6EFpGT7ZOJipcgHJc');
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    display: flex; /* header padre siempre tiene que tener DISPLAY FLEX. y por defecto es row direction y por esto se pone uno al lado del otro */
    flex-flow: column nowrap;
}
.menu-ct {
    background: rgba(0, 0, 0, .8);
    display: flex;
    flex-flow: row nowrap;
    height: 120px;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid rgba (255, 255, 255, .5);
    border: 1px solid #fff;
    position: fixed;
}
.logo-ct {
    flex:1 1 auto;
}
    .logo-ct a {
        color:#f7e709;
        font-family: 'Courgette', cursive;
        font-size: 35px;
        margin-left: 20px;
    }
    .logo-ct a:hover{
        color:#f7e709;
    }
.nav-ct {
    flex:5 1 auto;
    align-self: flex-end;
}
    .nav-ct a {
        color: #fff;
        font-size: 13px;
        text-transform: uppercase;/* MAYUSCULAS */
        padding: 0 7px;
        letter-spacing: 2px;
        margin-bottom: 5px;
    }
    .nav-ct a:hover{
        color:#f7e709;
        font-weight: bold;
        font-size: 15px;
    }
    .nav-ct a .fa-pen-ruler {
        font-size: 20px;
        color:#f7e709;
        font-size: 20px;
    }
.texto-principal {
    /* background: #f07b3f; */
    height: 580px;
    display: flex;
    align-items: center;
    flex: auto;
}
h1 {
    background: rgba(0, 0, 0, .5);
    font-family: 'Courgette', cursive;
    font-size: 30px;
    color:#f7e709;
    font-weight: 300;
    text-align: center;
    line-height: 1.9;
    margin-left: 100px;
    margin-right: 100px;
}
img { 
    width: 100%;
}
main h2 {
    color: #ffc107;
    font-style: oblique;
    font-size: 70px;
    text-align: center;
    margin: 20px;
    font-weight: bolder;
    text-shadow:  rgb(153, 153, 153) 0.1em 0.1em 0.1em;
    letter-spacing: 10px;
    word-spacing: 5px;
}

img {
    width: 100%;
    margin-top: 5px;
    border-radius: 10px;
    /* object-fit: cover; */
}
.row {
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
}

.column {
    flex: 25%;
    padding: 5px;
}





/* PAGINA AGRICULTURA CSS */
.padre-ag {
    display: flex;
    flex-flow: column nowrap;
}
.header-ag {
    background: url('https://i.picsum.photos/id/107/5760/3840.jpg?hmac=pOr5LeKE8rivWSYuheeVgYtDjCNGouPkeFjx2TsbAoY');
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    display: flex; /* header padre siempre tiene que tener DISPLAY FLEX. y por defecto es row direction y por esto se pone uno al lado del otro */
    flex-flow: column nowrap;
}
.menu-ag {
    background: rgba(0, 0, 0, .8);
    display: flex;
    flex-flow: row nowrap;
    height: 120px;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid rgba (255, 255, 255, .5);
    border: 1px solid #fff;
    position: fixed;
}
.logo-ag {
    flex:1 1 auto;
}
    .logo-ag a {
        color:#f7e709;
        font-family: 'Courgette', cursive;
        font-size: 35px;
        margin-left: 20px;
    }
    .logo-ag a:hover{
        color:#f7e709;
    }

.nav-ag {
    flex:5 1 auto;
    align-self: flex-end;
}
    .nav-ag a {
        color: #fff;
        font-size: 13px;
        text-transform: uppercase;/* MAYUSCULAS */
        padding: 0 7px;
        letter-spacing: 2px;
        margin-bottom: 5px;
    }
    .nav-ag a:hover{
        color:#f7e709;
        font-weight: bold;
        font-size: 15px;
    }
    .nav-ag a .fa-pagelines {
        font-size: 20px;
        color:#f7e709;
        font-size: 20px;
    }
.texto-principal {
    /* background: #f07b3f; */
    height: 580px;
    display: flex;
    align-items: center;
    flex: auto;
}
h1 {
    background: rgba(0, 0, 0, .5);
    font-family: 'Courgette', cursive;
    font-size: 30px;
    color:#ffc107;
    font-weight: 300;
    text-align: center;
    line-height: 1.9;
    margin-left: 100px;
    margin-right: 100px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 230px);
    gap: 20px;
    justify-content: center;
}
.grid-item {
    width: 230px;
    height: 200px;
    object-fit: cover;
}
.grid-item:hover{
    filter: opacity(0.9);
    transform: scale(1.04);
}


/* PAGINA DONATARIOS CSS */
.contenedor_ag h2 {
    color: #ffc107;
    font-style: oblique;
    font-size: 70px;
    text-align: center;
    margin: 20px;
    font-weight: bolder;
    text-shadow:  rgb(153, 153, 153) 0.1em 0.1em 0.1em;
}
.flex-padre {
    /* background-color: aqua; */
    padding: 20px;
    margin: 10px;
    display: block;
}
.flex-padre h3 {
    color: #6c757d;
    font-size: 50px;
    border-bottom: 5px solid #ffc107;
}
.flex-container {
    /* background-color: orange; */
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: auto;
    gap: 10px;/* distancia entre las cajitas */
    flex-wrap: wrap;  /* para respetar o no el tamaño del item */
}
.flex-item img {
    width: 100%;
    border-radius: 5px; 
}
.flex-item img:hover{
    filter: opacity(0.9);
    transform: scale(1.3);
}


.flex-padre02 {
    /* background-color: aqua; */
    padding: 20px;
    margin: 10px;
    display: block;
}
.flex-padre02 h3 {
    color: #6c757d;
    font-size: 50px;
    border-bottom: 5px solid #ffc107;
}
.flex-containerAli {
    /* background-color: orange; */
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: auto;
    gap: 10px;/* distancia entre las cajitas */
    flex-wrap: wrap;  /* para respetar o no el tamaño del item */
}
.flex-itemAli img {
    width: 100%;
    border-radius: 5px; 
}
.flex-itemAli img:hover{
    filter: opacity(0.9);
    transform: scale(1.3);
}

.flex-padre03 {
    /* background-color: aqua; */
    padding: 20px;
    margin: 10px;
    display: block;
}
.flex-padre03 h3 {
    color: #6c757d;
    font-size: 50px;
    border-bottom: 5px solid #ffc107;
}
.flex-containerGob {
    /* background-color: orange; */
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: auto;
    gap: 10px;/* distancia entre las cajitas */
    flex-wrap: wrap;  /* para respetar o no el tamaño del item */
}
.flex-itemGob img {
    width: 100%;
    border-radius: 5px; 
}
.flex-itemGob img:hover{
    filter: opacity(0.9);
    transform: scale(1.3);
}

.flex-padre04 {
    /* background-color: aqua; */
    padding: 20px;
    margin: 10px;
    display: block;
}
.flex-padre04 h3 {
    color: #6c757d;
    font-size: 50px;
    border-bottom: 5px solid #ffc107;
}
.flex-containerEsc {
    /* background-color: orange; */
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: auto;
    gap: 10px;/* distancia entre las cajitas */
    flex-wrap: wrap;  /* para respetar o no el tamaño del item */
}
.flex-itemEsc img {
    width: 100%;
    border-radius: 5px; 
}
.flex-itemEsc img:hover{
    filter: opacity(0.9);
    transform: scale(1.3);
}
.carousel {
    margin-top: 100px;
}


/* PAGINA CONTACTO CSS */
.padre-con {
    display: flex;
    flex-flow: column nowrap;
}
.header-con {
    background: url('../img/georgie-cobbs-bKjHgo_Lbpo-unsplash.jpg');
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    display: flex; /* header padre siempre tiene que tener DISPLAY FLEX. y por defecto es row direction y por esto se pone uno al lado del otro */
    flex-flow: column nowrap;
}
.menu-con {
    background: rgba(0, 0, 0, .8);
    display: flex;
    flex-flow: row nowrap;
    height: 120px;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid rgba (255, 255, 255, .5);
    border: 1px solid #fff;
    position: fixed;
}
.logo-con {
    flex:1 1 auto;
}
    .logo-con a {
        color:#f7e709;
        font-family: 'Courgette', cursive;
        font-size: 35px;
        margin-left: 20px;
    }
    .logo-con a:hover{
        color:#f7e709;
    }

.nav-con {
    flex:5 1 auto;
    align-self: flex-end;
}
    .nav-con a {
        color: #fff;
        font-size: 13px;
        text-transform: uppercase;/* MAYUSCULAS */
        padding: 0 7px;
        letter-spacing: 2px;
        margin-bottom: 5px;
    }
    .nav-con a:hover{
        color:#f7e709;
        font-weight: bold;
        font-size: 15px;
    }
    .nav-con a .fa-chalkboard-user {
        font-size: 30px;
        color:#f7e709;
        font-size: 20px;
    }
.texto-principal {
    /* background: #f07b3f; */
    height: 580px;
    display: flex;
    align-items: center;
    flex: auto;
}
h1 {
    background: rgba(0, 0, 0, .5);
    font-family: 'Courgette', cursive;
    font-size: 30px;
    color:#f7e709;
    font-weight: 300;
    text-align: center;
    line-height: 1.9;
    margin-left: 100px;
    margin-right: 100px;
}

/* ------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------
 */
/* Mediaqeries Responsive */
@media (min-width: 768px) and (max-width: 992px) {
    .texto-principal {
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: auto;
        margin-top: 100px;
    }
    .texto-principal h1 {
        background-color: rgba(0, 0, 0, .5);
        font-family: 'Courgette', cursive;
        font-size: 25px;
        color:#f7e709;
        font-weight: 200px;
        text-align: center;
        line-height: 1.6;
        margin-left: 90px;
        margin-right: 90px;
        transition: all 3s;
    }
    h1:hover {
        background-color:rgba(255, 255, 0, 0.63);
        font-family: 'Courgette', cursive;
        font-size: 25px;
        color:black;
        font-weight: 200px;
        text-align: center;
        line-height: 1.6;
        margin-left: 90px;
        margin-right: 90px;
    
    }

    .logo-img {
        width: 100px;
        height: auto;
        border-radius: 10px;
        margin-left: 20px;
    }

    /* .pinicio { 
        display: flex;
        flex-direction: column;
        background: #444;
        font-family: 'Courgette', cursive;
        color: yellow;
        margin: 0;
        padding: 5px;
    }
    .pinicio h2 {
        color: yellow;
        font-style: oblique;
        font-size: 30px;
        text-align: center;
        margin: 15px;
    } */

        /* Footer CSS */
    .footerpadre {
        background-color: #6c757d;
        padding: 10PX;
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
    }
    .footerderechos {
        display: flex;
        align-items: flex-end;
        font-size: 15px;

    }
    
    .footerpadre02 {
        /* background-color: aqua; */
        width: 90vw;
        height: 10vh;
        display: flex;
        justify-content: center; /* alinea horizoltalmente */
        align-items: center; /* alinea verticalmente */
        flex-wrap: wrap;
    }
    .footerpadre02--redes {
        /* background-color: violet; */
        width: 300px;
        height: 80%;
        color: #ffc107;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        /* flex-direction: column;
        margin: 10px; */
        
    }
    .footerpadre02--redes h4 {
        font-size: 20px;
    }
    .footerpadre02--redes a {
        font-size: 25px;
        letter-spacing: 5px;
    }
    .footerpadre02--contacto {
        /* background-color: gray; */
        width: 300px;
        height: 80%;
        color: white;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        /* flex-direction: column; */
    }
    .footerpadre02--contacto h4 {
        font-size: 20px;
    }
    .footerpadre02--contacto a {
        font-size: 25px;
        letter-spacing: 5px;
    }
}



/* ++++++++++++PARA TABLET+++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
@media (max-width: 767px){
    .header {
        background: url('https://i.picsum.photos/id/143/3600/2385.jpg?hmac=gSMmnYrmuP5BJ47kmErfYdYu1L1GLePM1SNm-D2lqiA');
        background-position: center;
        background-attachment: contain;
        background-size: cover;
        
    }
    .texto-principal {
        height: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: auto;
        margin-top: 100px;
    }
    .texto-principal h1 {
        background-color: rgba(0, 0, 0, .5);
        font-family: 'Courgette', cursive;
        font-size: 20px;
        color:#f7e709;
        font-weight: 200px;
        text-align: center;
        line-height: 1.3;
        margin-left: 80px;
        margin-right: 80px;
        transition: all 3s;
    }
    h1:hover {
        background-color:rgba(255, 255, 0, 0.63);
        font-family: 'Courgette', cursive;
        font-size: 20px;
        color:black;
        font-weight: 200px;
        text-align: center;
        line-height: 1.3;
        margin-left: 80px;
        margin-right: 80px;
    
    }
    .logo-img {
        width: 80px;
        height: auto;
        border-radius: 10px;
        margin-left: 10px;
    }

        /* Footer CSS */
    .footerpadre {
        background-color: #6c757d
        padding: 10PX;
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
    }
    .footerderechos {
        display: flex;
        align-items: flex-end;
        font-size: 12px;
    }
    
    .footerpadre02 {
        /* background-color: aqua; */
        width: 90vw;
        height: 10vh;
        display: flex;
        justify-content: center; /* alinea horizoltalmente */
        align-items: center; /* alinea verticalmente */
        flex-wrap: wrap;
    }
    .footerpadre02--redes {
        /* background-color: red; */
        width: 200px;
        height: 60%;
        color: #ffc107;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 7px;
        /* flex-direction: column;
        margin: 10px; */
        
    }
    .footerpadre02--redes h4 {
        font-size: 15px;
    }
    .footerpadre02--redes a {
        font-size: 25px;
        letter-spacing: 5px;
    }
    .footerpadre02--contacto {
        /* background-color: blue; */
        width: 200px;
        height: 60%;
        color: #ffc107;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 7px;
        /* flex-direction: column; */
    }
    .footerpadre02--contacto h4 {
        font-size: 15px;
    }
    .footerpadre02--contacto a {
        font-size: 25px;
        letter-spacing: 5px;
    }
}
